@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f2f2;
  font-family: "Source Sans Pro", sans-serif;
}

.main{
  margin: 3rem auto;
}

.btn{
  color: #fff;
  background-color: #9F2BC1;
  font-size: 1.3rem;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  text-align:center;
  margin: 1rem 0;
}

.btn:hover{ 
  transform: translateY(-1.5px);
}

