.form {
  width: 80%;
  margin: 50% auto;
  text-align: center;
}

h1 {
  color: #9f2bc1;
  font-size: 3rem;
}

.input-box{
    font-size: 1.3rem;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 20px;
}

@media screen and (min-width: 768px){
    .form{
        width: 40%;
        margin: 20% auto;
    }
    .input-box{
        font-size: 1.9rem;
    }
}
@media screen and (min-width: 1040px){
    .form{
        width: 20%;
        margin: 10% auto;
    }
    .input-box{
        font-size: 1.3em;
    }
}